<html>

<head>
    <title>
        dl-JS - JavaScript re-write of dl-py
    </title>
    <meta name='viewport' content="width=device-width,initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel='shortcut icon' href='/static/favicon.ico'>
    <link rel='stylesheet' href="/static/styles/index.min.css" />
</head>

<body>
    <div class="main">
        <div class=box>
            <div class=content>
                <div>Enter The URL of the video</div>
                <form action="/video/" id=submit-s>
                    <input class=input_gos type="text" name="url" style="width:50%;">
                    <input class=input_gosb id=go_lk type="submit" style="display:none;" value='Go'>
                </form>
                <button class=input_gosb onclick="document.getElementById('submit-s').submit()">Go</button>
                <hr>
                <a href='/'>
                    <div class=linker>
                        <span>Go to Homepage</span>
                    </div>
                </a>
                <div style="margin-top:30px; ">Enter file link</div>
                <form action=/fetch_url id=search-s>
                    <input id=search class=input_gos style="width: 45%;" type="text" name="u">
                    <input type='submit' style="display: none;" value="search">
                </form>
                <div style="margin-top:15px; ">
                    <button class=input_gosb id="ybbe" onclick="document.getElementById('search-s').submit()">Search</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
