<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="http://127.0.0.1">
    <title>Downloading.</title>
    <link rel="stylesheet" href="/static/styles/mp3.min.css">
</head>

<body>
    <center>
        <div>Name Your File</div>
        <input id="value-f" value="download" class=ipgs maxlength="1000" style="text-transform:none;max-width:30%;cursor:text;">
        <div>
            <button id=namesh_3 class=ipgs style="width:auto;">Change Name</button>
        </div>
        <span style="margin-top: 10px;">Download in Progress..</span>
        <div style="margin-top: 20px;">We Will Download the file to our servers and then send it to you</div>
        <button id=dds_pgbr style="display:none;max-width:100%;width:0px;" class=ipg></button>
        <div id=div_></div>
        <a id="dl_links" href="#" download="download">
            <button style="display: none;" id=download_link class=ipg></button>
        </a>
        </button>
        <div id=ffmpeg-alert></div>
        <script>
            window.dlurl = "{{u|safe}}"
        </script>
        <script src='/static/js/mp3.min.js'></script>
    </center>
</body>

</html>