<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <title>Downloading.</title>
    <link rel="stylesheet" href="/static/styles/blob.min.css" />
</head>

<body>
    <div class=cst>
        <div id=main>
            <div>
                <div>Name Your File</div>
                <input class=ipgs id=filename style='width:30%' value='file'>
                <button class=ipg id=name-set>Change Name</button>
                <div class=ajax-poll-section>
                    <div class=dets>
                        <div id='alldeets'>
                            <span id=till-done></span> % complete</div>
                        <div id=total-size>Total Size:
                            <span id=total-size-int></span>MB</div>
                    </div>
                </div>
                <button class=ipg id=progressbtn style="width: 0px;display: none;"></button>
            </div>
            <a href=# id=download-link download='file'>
                <button class=ipgs id=dl-button style="display: none;">Click Here to Download</button>
            </a>
        </div>
    </div>
    <script>
        window.dlurl = "{{url|safe}}";
        window.dlref = "{{ref|safe}}";
    </script>
    <script src='/static/jsmin/downloader.js'></script>
</body>

</html>