<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        Proxy-Test
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <script>
        (() => {
            document.body.innerHTML = atob(
                "IDxwPk5vdGhpbmcgdG8gU2VlIGhlcmUuLjwvcD4gICAgPGZvcm0gYWN0aW9uPScvZmV0Y2hfdXJsJz4gICAgICAgIDxpbnB1dCB0eXBlPSJ0ZXh0IiBuYW1lPSJ1Ij4gICAgICAgIDxicj4gICAgICAgIDxpbnB1dCB0eXBlPSJ0ZXh0IiBuYW1lPSJyZWZlcmVyIiB2YWx1ZT0iaHR0cHM6Ly9nb29nbGUuY29tIj4gICAgICAgIDxicj4gICAgICAgIDxidXR0b24gdHlwZT0ic3VibWl0Ij5UZXN0PC9idXR0b24+ICAgIDwvZm9ybT4="
            )
        })()
    </script>
</body>

</html>