<html>

<head>
    <meta name='viewport' content="width=device-width,initial-scale=1.0" />
    <link rel='shortcut icon' href="/static/favicon.ico" />
    <title>Video</title>
    <link rel="stylesheet" href="/static/styles/video.min.css">
</head>

<body>
    <h2 id=title></h2>
    <button class=ipgs style="width:auto;display:none;" id=dlfail onclick="offer_proxy()">If downloads fail,try this button</button>
    <div class='main'>
        <div class=box>
            <div id=skelly>
                <span style="font-size: 12px;color:#000;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;" class=skelly_btn>Loading Your Video</span>
                <div>
                    <button id=skelly_div style="height:225px;width:400px;margin-top:10px;"></button>
                </div>
                <div>
                    <button class=skelly_btn id=skelly_btn style="margin-top: 10px;"></button>
                    <div>
                        <button class=skelly_btn id=skelly_btn style="margin-top: 10px;width:5%;"></button>
                    </div>
                </div>
            </div>
            <div class=content id=content>
                <div class=err id=errs style="color:red"></div>
                <a href='#' id=btn-mp3url>
                    <button class=ipgs id=btn-mp3 style="display: none"></button>
                </a>
                <div id=videos>
                </div>
            </div>
        </div>
    </div>
    <script src='/static/js/utils.js'></script>
    <script>
        get_videos("{{url|safe}}")
    </script>
</body>

</html>