body {
    font-family: 'Open Sans', 'sans-serif';
    margin: 0px;
    padding: 0px;
}

.main {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.linker {
    height: 30px;
    width: 100%;
    background-color: #ffffff;
}

.linker:hover,
.linker:focus {
    background-color: #e3e3e3;
}

.input_gos {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    padding: 4px;
}

a {
    color: #000;
}

.input_gosb {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 8px;
    border: none;
    outline: none;
    background: #3367d6;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

textarea,
input,
button {
    outline: none;
    box-shadow: none;
}